name: CI
on: push

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: 
          cd docs && pip3 install -r requirements.txt

    - name: Build docs
      run: cd docs && make html
  
  unittest:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install packages
      run: | 
          sudo pip3 install pandas
          sudo pip3 install pyyaml
    - name: Pytests
      run: cd test && python3 -m unittest

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    - name: Install dependencies
      run: |
          pip install -r requirements.txt
          pip install --upgrade pylint astroid
    - name: Lint
      run: make lint